html {
    font-family: monospace;
    background-color: #adadad;
    box-sizing: border-box;

}

*, *:before, *:after {
box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

header,
.container {
    padding-left: 8px;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #868686;
}


.container {
    display: flex;
    min-height: calc(100vh - 60px);
}

.sidebar {
    padding-right: 15px;
    width: 280px;
    display: flex;
    flex-direction: column;
}

h3 {

}

h3:hover {
    user-select: none;
    color: rgb(54, 54, 54);
    text-decoration: underline;
}


label {
    user-select: none;
}

input {
    width: 255px;
    margin-bottom: 4px;
}

input[type=checkbox] {
    width: fit-content;
    vertical-align: middle;
    
}

button {
    font-family: inherit;
    margin: 12px 0;
    width: 45px;
}

.main {
    padding: 50px;
    flex: 1;
    background-color: #c7c7c7;
    display: flex;
    flex-wrap:wrap;
    column-gap: 15px;
    row-gap: 30px;
    align-content: flex-start;
}

.book-card {
    width: 225px;
    height: 275px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-info {
    flex: 1;
}

.book-info:first-child {
    font-weight: bold;

}

.remove-btn {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    width: fit-content;
}
.remove-btn:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.remove-btn:active {
	position:relative;
	top:1px;
}

.book-read {
    background-color: rgb(143, 255, 143);
}

.book-notread {
    background-color: rgb(255, 124, 124);
}