html {
    font-family: monospace;
    background-color: #adadad;
    box-sizing: border-box;

}

*, *:before, *:after {
box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

header,
.container {
    padding-left: 8px;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #868686;
}

h1:hover {
    user-select: none;
    color: rgb(54, 54, 54);
}

.container {
    display: flex;
    min-height: calc(100vh - 60px);
}

.sidebar {
    padding-right: 15px;
    width: 280px;
    display: flex;
    flex-direction: column;
}

label {
    user-select: none;
}

input {
    width: 255px;
    margin-bottom: 4px;
}

input[type=checkbox] {
    width: fit-content;
    vertical-align: middle;
    
}

button {
    margin: 12px 0;
    width: 45px;
}

.main {
    padding: 50px;
    flex: 1;
    background-color: #c7c7c7;
    display: flex;
    flex-wrap:wrap;
    column-gap: 15px;
    row-gap: 30px;
    align-content: flex-start;
}

.book-card {
    width: 225px;
    height: 275px;
    background-color: red;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-info {
    flex: 1;
}

.book-info:first-child {
    font-weight: bold;

}

